<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

    <!-- Header Section -->
    <header class="container">
      <div class="row align-items-center">
          <div class="col-auto">
              <img src="images/laug-hsmi-logo.png" alt="Logo" style="max-width: 20vw; max-height: 200px;">
          </div>
          <div class="col" style="max-width: 75w;">
              <h1 class="display-4 section-title">LaugHSMI: Laughter, Humour, Smiles in Multimodal Interactions </h1>
              <h3>
                <!-- <img src="https://icml.cc/static/core/img/icml-navbar-logo.svg" style='max-height: 2rem;margin-right: 1rem;'/> -->
                ICMI 2026 Workshop
              </h3>
              <h5>TBA - Naples, Italy</h5>
          </div>
      </div>
      
      <!-- Organisation Logos Section -->
      <div class="d-flex flex-wrap justify-content-center align-items-center mt-4">
          <img src="images/logo_univ_paris_saclay.png" alt="UPS Logo" style="max-height: 80px; height: auto; object-fit: contain; margin-right: 20px; margin-top:10px;" />
          <img src="images/logo_sorbonne.png" alt="Sorbonne Logo" style="max-height: 60px; height: auto; object-fit: contain; margin-right: 20px;" />
          <img src="images/logo_amu.png" alt="AMU Logo" style="max-height: 50px; height: auto; object-fit: contain; margin-right: 20px; margin-top:10px;" />
          <img src="images/university-of-chile.png" alt="University of Chile Logo" style="max-height: 60px; height: auto; object-fit: contain; margin-right: 20px; margin-top:10px;" />
      </div>
  </header>

  <body class="d-flex flex-column">

    <main id="maincontent" role="main" aria-label="Content" class="flex-shrink-0">
      
      {{ content }}
      
    </main>

    {% include template/footer.html %}
    {% include template/foot.html %}

  </body>

</html>
